*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;

}

main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  /* flex-wrap: wrap; */
  gap: 50px;
}

.card{
  background-color: #96699b;
  min-width: 150px;
  max-width: 400px;
  width: 10%;
  min-height: 200px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}