*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  --lavanda: #caaacd;
  --dark-lavanda: #96699b;
  --dark-purple: #6c4a7d;
  --light-purple: #9b6bb3;
  --background: #fdf7ed;
  --box-shadow: 4px 4px 7px #00000075;
}

body{
  background-color: var(--background);
  width: 100vw;
  font-family:"Caprasimo", serif;
  color: var(--background);
  letter-spacing: 1px;
  height: 100vh;
  
}
#root{
  display: flex;
  flex-direction: column;
  gap: 10px ;

}

nav{
  background-color: var(--light-purple);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button{
  appearance: none;
  font-family:"Caprasimo", serif;
  background-color: var(--dark-purple);
  padding: 10px;
  border: none;
  border-radius: 15px;
  color: var(--background);
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}
button:hover{
  background-color: #bb8fd4;
  box-shadow: 4px 4px 7px #000000a8;
}
button:focus{
  background-color: #8c67a1;
  box-shadow: 4px 4px 7px #000000a8;

}

main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  /* flex-wrap: wrap; */
  row-gap: clamp(5px,5%, 20px);
  width: 100%;
  margin-top: 5%;
  justify-items: center;
}

.card{
  background-color: var(--dark-purple);
  min-width: 150px;
  max-width: 400px;
  width: 10%;
  min-height: 200px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 5px 0 5px ;
  box-shadow: var(--box-shadow);
}